.one .box1 {
    font-size: 30px;
    width: 60%;
    background-color: #C7DDEA;
    flex:1;
    text-align: center;
    height: 600px;
   /* grid-column: 1/3;
    grid-row: 1/3;*/


}
.one .box2 {
    width: 40%;
    height: 100px;
    background-color: #F17949;
    text-align: center;
    /*grid-column: 3;
    grid-row: 1/3;
    margin-right: 500px;*/

}
.one .box3 {
    width: 40%;
    height: 100px;
    background-color: #FAB131;
    flex:1;
    text-align: center;
    /*grid-column: 3;
    grid-row: 2/3;*/

}








main .top  {
    background-color: #ccc;
    width: 1850px;
    height: 700px;
    margin-left: 210px;
    
}
main .top div h1 {
    color: #F17949;
    font-size: 100px;
}








main .top  {
    display: flex;

 
    background-color: #ccc;
    width: 1850px;
    height: 700px;
    margin-left: 210px;
    
}

.top .top-1 {
    flex: 3;
    order:3;
    font-size: 60px;
    text-align: start;
    width: 30px;
    height: 400px;
    margin-right: 200px;
    border: 1px rgb(177, 5, 5) solid;
    color: white;


}
.top .top-2 {
    flex: 3;
    order:3;
    font-size: 20px;
    text-align: start;
    border: 1px rgb(177, 5, 5) solid;
    width: 350px;
    height: 400px;
    margin-right: 200px;
}
.top button  {
    border: 1px rgb(177, 5, 5) solid;
    flex: 2;
    order:1;
   margin-top: 500px;
   margin-left: 300px;

}








.top  h1 {
    align-items:center;
    margin-left: 200px;
    font-size: 60px;
    width: 400px;
    height: 200px;
    color: #F17949;
}
.top h4 {
    width: 300px;
    height: 250px;
    margin-left: 1000px;
    margin-bottom: 1000px;
    

}
.top button {
    margin-left: 200px;




    {
        border: 1px tomato solid;
        width: 616px;
        height: 400px;
    }
    
    .bottom2 .box3 {
        border: 1px tomato solid;
        width: 616px;
        height: 400px;
    }
    
    .bottom2 .box4 {
        border: 1px tomato solid;
        width: 616px;
        height: 400px;
    }
    
    .bottom2 .box5 {
        border: 1px tomato solid;
        width: 616px;
        height: 400px;
    }
    
    .bottom2 .box6 {
        border: 1px tomato solid;
        width: 616px;
        height: 400px;
    }








    .familj {
        display: flex;
        
        
    
        
    }
    .familj-1 {
        padding: 90px;
        margin: 80px;
        border: 1px rgb(199, 21, 36) solid;
    