<%- include ('./layout/top') %> 
<h1>Chat Application</h1>
<form action="/setname" method="POST">
<input type="text " name="username" placeholder="Enter your name">
<button> Chat!</button>
</form>
<%- include ('./layout/bottom') %> 